.blogs {
  margin-bottom: 4rem;
  font-family: Plus Jakarta Display;
  transition: all 0.5s ease-in-out;
}

.blogs .text h1 {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0;
}

.blogs .text p {
  font-weight: 500;
  font-size: 1.5rem;
  color: #b3b3b3;
  margin: 0.8rem 0;
}

.blogs .blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  width: 80%;
  margin: 3rem auto 0;
  transition: all 0.5s ease-in-out;
}

.blogs .blog-card .img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.blogs .blog-card .img img {
  width: 336px;
  height: 222px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.blogs .blog-card .img:hover img {
  transform: scale(1.1);
}

.blogs .blog-card .content {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.blogs .blog-card .content h1 {
  font-weight: 500;
  font-size: 1.2rem;
}

.blogs .blog-card .content p {
  font-weight: 300;
  font-size: 1rem;
  color: teal;
}

.blogs .blog-card .user {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.blogs .blog-card .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.blogs .blog-card .user .user-info h2 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
  text-align: left;
}

.blogs .blog-card .user .user-info p {
  text-align: left;
  margin: 0 10px;
  font-size: 0.7rem;
  font-weight: 500;
  color: #8d8d8d;
}

.blogs .view-more {
  width: fit-content;
  margin: 0 auto;
}

.blogs .view-more h3 {
  margin: 3rem 0 0;
  cursor: pointer;
}

.blogs .view-more i {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .blogs {
    margin-bottom: 4rem;
  }

  .blogs .text h1 {
    font-size: 2rem;
  }

  .blogs .text p {
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
  }

  .blogs .blog-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    width: 80%;
  }

  .blogs .blog-card .img {
    width: 100%;
  }

  .blogs .blog-card .img img {
    width: 100%;
    height: 100%;
  }

  .blogs .blog-card .content h1 {
    font-size: 1.5rem;
  }

  .blogs .blog-card .content p {
    font-size: 1rem;
  }

  .blogs .blog-card .user {
    margin-top: 1.5rem;
    justify-content: space-between;
  }

  .blogs .blog-card .user .user-info h2 {
    font-size: 0.8rem;
    text-align: right;
  }

  .blogs .blog-card .user .user-info p {
    text-align: right;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 500px) {
  .blogs .text h1 {
    font-size: 1.5rem;
  }

  .blogs .text p {
    font-size: 1rem;
    margin: 1rem 0 3rem;
  }

  .blogs .blog-card .content h1 {
    font-size: 1.3rem;
  }

  .blogs .blog-card .content p {
    font-size: 0.9rem;
  }
}
